* {
  padding: 0;
  margin: 0;
}

/* body*/
.bg_celeste {
  background-color: #f7fbfc;
}

/*header*/
.img-navbar {
  height: 50px;
  margin-left: 60px;
}
.navbar-mia {
  display: flex;
  /* justify-content: end; */
  border-bottom: solid 3px #636363;
  background-color: #d6e6f2;
  height: 75px;
}
.navlink-mio {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #636363;
  text-decoration: none;
  font-size: 25px;
  margin: 0px 20px;
}
.navlink-mio:hover {
  color: #769fcd;
}

/*footer*/
.navbar-footer-mia {
  background-color: #d6e6f2;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #636363;
  border-top: solid 3px #636363;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icono {
  font-size: 30px;
}
.nav-item-mio {
  margin-right: 50px;
}
.icono:hover {
  color: #f7fbfc;
}
.derechos{
  color: #636363;
  font-size: 15px;
  margin: 20px 300px 0 0;
}


/* ¿cómo funciona? */
.fondo-mapa {
  background-image: url("../assets/imagenes/mapa2.png");
  background-size: cover;
}
#main_cf {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
#main_cf ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sangria_izquierda {
  margin-left: 250px;
}
.sangria_derecha {
  margin-right: 250px;
}
#main_cf ul li ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  font-family: "Sofia Sans", sans-serif;
  color: #636363;
  font-size: 20px;
}
#main_cf ul li ul li {
  padding: 10px 30px;
}
.numeros_gigantes {
  font-family: "Source Sans Pro", sans-serif;
  color: #636363;
  font-size: 130px;
  font-weight: bold;
}
.izquierda {
  margin-left: 150px;
}
.derecha {
  margin-right: 150px;
}
.recuadro_celeste {
  background-color: #d6e6f2;
  border: solid 3px #b9d7ea;
  border-radius: 5px;
}

.agrandar {
  transition: scale 1s;
}
.agrandar:hover {
  transform: scale(2);
}

/* contacto*/
.titulo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #636363;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.texto {
  font-family: "Sofia Sans", sans-serif;
  line-height: 2;
  color: #636363;
  font-size: 20px;
  padding: 0px 20px 0px 60px;
  display: flex;
  justify-content: center;
}

.texto-form {
  font-family: "Sofia Sans", sans-serif;
  color: #636363;
}

/* quiero manejar */
.img-auto {
  height: 300px;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.texto-encabezado {
  font-family: "Sofia Sans", sans-serif;
  color: #636363;
  font-size: 20px;
  line-height: 2;
}
.cuadro_boton {
  border: solid 1px #769fcd;
  border-radius: 5px;
  background-color: #769fcd;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #636363;
}
.cuadro_boton:hover {
  background-color: #636363;
  color: #f7fbfc;
}
.margen-inferior {
  margin-bottom: 50px;
}
.img-tarjeta {
  height: 300px;
  width: 300px;
}
.centrar {
  display: flex;
  justify-content: center;
}

/* equipos */
.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.img-conductor {
  width: 70px;
  height: 50px;
}
.estilo-texto {
  font-family: "Sofia Sans", sans-serif;
  line-height: 2;
  color: #636363;
  font-size: 20px;
}
.conductores {
  border: #636363 3px solid;
  border-radius: 5px;
  padding: 10px;
}
.margen-boton {
  margin-top: 30px;
}

#imagen_fondo{
  background-image: url(../assets/imagenes/mapa2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.boca{
  background-image: url(../assets/imagenes/foto_boca.jpg) !important;
}
.river{
  background-image: url(../assets/imagenes/foto_river.jpg) !important;
}
.independiente{
  background-image: url(../assets/imagenes/foto_independiente.jpg) !important;
}
.racing{
  background-image: url(../assets/imagenes/foto_racing.jpg) !important;
}
.sanLorenzo{
  background-image: url(../assets/imagenes/foto_sanLorenzo.jpg) !important;
}
#imagen_fondo:before{
  content: '';
  position: absolute;
  background-color: #636363;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

#titulo-fondo{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #f7fbfc;
    font-size: 100px;
    position: relative;
}
.alto500{
  height: 500px;
}
.padding50{
  padding: 50px;
}
.carrousel{
  height: 279px;
  width: 558px;
  margin-left: 48px;
}
.testimonios{
  display: flex;
  align-items: center;
  justify-content: center;
}